<div *ngIf="listaConversiones().length == 0">
  <p>No hay conversiones guardadas aun </p>
</div>

<div *ngIf="listaConversiones().length != 0">
  <table class="table">
    <thead>
      <tr>
        <th>Millas</th>
        <th>Kilometros</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conversion of listaConversiones()" data-testid="table-row">
        <td>{{conversion.millas | number: '1.1-2':'es-ES'}}</td>
        <td>{{conversion.kilometros | number: '1.1-2':'es-ES'}}</td>
        <td class="action-column">
          <span class="material-symbols-outlined delete"
                (click)="delete(conversion.id!!)"
                [attr.data-testid]="'delete-button-' + conversion.id">
            delete
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
