<div class="container">
  <div class="title-container">
    <h1 class="title" data-testid="titulo">Conversor <small>Angular con Signals</small></h1>
  </div>

  <form>
    <div class="fieldset">
      <div class="header">
        <label for="millasInput">Millas:</label>
        <input type="text" name="millasInput" value="0" [(ngModel)]="millasInput" [ngClass]="{'error': !validarInput()}">

        <button (click)="set()" class="primary-button" data-testid="boton-convertir">Convertir</button>
        <button data-testid="boton-reset" (click)="resetear()" class="secondary-button">Resetear</button>
      </div>

      <div class="conversor-container">
        <div class="millas-container unit-box">
          <div class="unit-box-header">
            <label>Millas</label>
            <div data-testid="tipo-numero" [ngClass]="{'decimal-bg': esDecimal(), 'integer-bg': !esDecimal()}">{{esDecimal() ? 'Decimal' : 'Entero'}}</div>
          </div>

          <div class="unit-box-editable">
            <button data-testid="boton-decrementar" (click)="decrementar()">-</button>
            <div class="unidad" data-testid="numero-millas">{{millas() | number: '1.1-2':locale}}</div>
            <button data-testid="boton-incrementar" (click)="incrementar()">+</button>
          </div>

          <div class="separator"></div>
        </div>

        <p class="equal">
          =
        </p>

        <div class="kilometros-container unit-box">
          <div class="unit-box-header">
            <label>Kilometros</label>
          </div>

          <div class="unit-box-editable">
            <div class="unidad" data-testid="numero-kilometros">{{kilometros() | number: '1.1-2':locale}}</div>
          </div>

          <div class="separator"></div>
        </div>
      </div>

      <div class="save-button">
        <button (click)="guardarConversion(millas(), kilometros())" class="primary-button">Guardar</button>
      </div>
    </div>
  </form>

  <app-historial [conversaciones]="conversiones"></app-historial>
</div>
